<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
        <label>
            Name:
            <input type="text" th:field="*{name}"/>
        </label>
        <label>
            Description:
            <input type="text" th:field="*{description}"/>
        </label>
        <label>
            Price:
            <input type="number" th:field="*{price}"/>
        </label>
        <label>
            Hour:
            <input type="number" th:field="*{hours}"/>
        </label>
        <p>
            <input type="submit" value="SUBMIT"/>
        </p>
    </form>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>hours</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.name}"></td>
                <td th:text="${course.description}"></td>
                <td th:text="${course.price}"></td>
                <td th:text="${course.hours}"></td>
                <td>
                    <form action="#" th:action="@{'/courses/editcourse/{id}'(id=${course.id})}" method="get">
                        <button type="submit" value="U">Edit</button>
                    </form>
                    <form action="#" th:action="@{'/courses/deletecourse/{id}'(id=${course.id})}" th:method="delete">
                        <button type="submit" value="D">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>