<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>Edit form</h1>

    <form action="#" th:action="@{'/courses/updatecourse/{id}'(id=${course.id})}" th:object="${course}" th:method="put">
        <label>Name: <input type="text" th:field="*{name}" /></label>
        <label>Description: <input type="text" th:field="*{description}" /></label>
        <label>Price: <input type="number" th:field="*{price}" /></label>
        <label>Hours: <input type="number" th:field="*{hours}" /></label>
        <label><input type="submit" value="Submit" /></label>
    </form>

</body>
</html>